<footer class="text-white" style="background-color: #241773;">
    <br />
    <div class="text-center">
        <%= image_tag("ravenstxt2.png", size: "450x70", :alt => "rss feed") -%>
    </div>
    <br />
</footer>
