<div class="card flex-md-row mb-4 shadow-sm h-md-250 card-right">
    <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
            About Me
        </h3>
        <br />
        <p class="card-text mb-auto">Hello! My name is Matt Gordon. I am a computer science student at the University of Maryland - College Park from Baltimore, Maryland (clearly). I have spent part of my summer teaching myself Ruby on Rails and this is the result. I hope you enjoy! Any questions you can contact me at this email: mogordon4@gmail.com</p>
    </div>
</div>

<div class="card flex-md-row mb-4 shadow-sm h-md-250 card-right">
    <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
            About The Project
        </h3>
        <br />
        <p class="card-text mb-auto">The idea behind this project is to make an online space where scouts for an NFL team who are scattered all over the country can post scouting reports to a feed for themselves and their colleagues to see. A scout will make an account and be able to create scouting reports as well as view reports made by other scouts. In practice, this site would be internal to the organization and only employees could make an account because you wouldn't want the players you are scouting to be public. For the sake of this project, though, anyone can make an account and post a sample scouting report to the feed to see the functionality. Go ahead and sign up to check it out! Thanks!</p>
    </div>
</div>

<div class="card flex-md-row mb-4 shadow-sm h-md-250 card-right">
    <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
            Code
        </h3>
        <br />
        <p class="card-text mb-auto">Check out the code here: <%= link_to("GitHub", "https://github.com/MattGordon4/RavensScouting") %> </p>
    </div>
</div>